In [80]:
'''/*
Database of Airlines
Table1: Customer Id, Ticket ID, Origin, Destination, Start time and end Time
Table2: Flight Number, Date, Origin, Destination, Start time and end time of the flight

Assumption: There can be only one flight taking off from an airport at a given time

Desired Output â€“ for given cust_id, ticket_id, need sequence of all flight_no used for the trip (all connecting flights)

Table1 : cust_id, ticket_id, first_cust_port, last_cust_port, cust_start, cust_end
Table2 : flight_no, date, orig_port, dest_port, flight_start, flight_end
*/

data cust_data;
   input cust_id $ ticket_id first_cust_port $ last_cust_port $ cust_start cust_end;
   datalines;
    A123 9342312 Delhi Mumbai 815 1730
    A456 6542312 Delhi Mumbai 830 1015
    A789 7542312 Delhi Mumbai 845 1330
; 

data flight_data;
   input flight_no $ date $ orig_port $ dest_port $ flight_start flight_end;
   datalines;
    B99 04042014 Delhi Mumbai 830 1015
    B89 04042014 Delhi Jaipur 845 1045
    B69 04042014 Jaipur Mumbai 1130 1330
    B79 04042014 Delhi Agra 815 1130
    B59 04042014 Agra Surat 1230 1430
    B49 04042014 Surat Pune 1445 1530
    B39 04042014 Pune Mumbai 1615 1730
; '''
print()

## Converting text file into python dataframe

In [5]:
import pandas as pd
table_df1= pd.read_csv("/home/aditya/Desktop/companies assesement/datascienceroleatcars24/table1.txt", sep=" ", engine='python', header=None)
table_df1.columns = ["cust_id" , "ticket_id" ,"first_cust_port" , "last_cust_port" ,"cust_start" ,"cust_end"]
print(table_df1)

  cust_id  ticket_id first_cust_port last_cust_port  cust_start  cust_end
0    A123    9342312           Delhi         Mumbai         815      1730
1    A456    6542312           Delhi         Mumbai         830      1015
2    A789    7542312           Delhi         Mumbai         845      1330

In [6]:

import pandas as pd
table_df2= pd.read_csv("/home/aditya/Desktop/companies assesement/datascienceroleatcars24/table2.txt", sep=" ", engine='python', header=None)
table_df2.columns = ["flight_no" , "date" , "orig_port" , "dest_port" , "flight_start" , "flight_end"]
print(table_df2)

  flight_no     date orig_port dest_port  flight_start  flight_end
0       B99  4042014     Delhi    Mumbai           830        1015
1       B89  4042014     Delhi    Jaipur           845        1045
2       B69  4042014    Jaipur    Mumbai          1130        1330
3       B79  4042014     Delhi      Agra           815        1130
4       B59  4042014      Agra     Surat          1230        1430
5       B49  4042014     Surat      Pune          1445        1530
6       B39  4042014      Pune    Mumbai          1615        1730

## Find path function
Recursively find all paths from origin port to end port

In [84]:
solve(table_df1, table_df2)

['A123', 9342312, 'B79', 'B59', 'B49', 'B39']
['A456', 6542312, 'B99']
['A789', 7542312, 'B89', 'B69']

In [83]:
def find_path(start_port,b,prev_port_end_time,t2, table_df2, data):
    if(start_port==b and prev_port_end_time==t2):
        print(data)
        return 0;
    else:
        r1=table_df2.loc[(table_df2['orig_port'] == start_port) & (table_df2['flight_start'] >= prev_port_end_time) 
                         & (table_df2['flight_start'] < t2)].values
        for flight_list in r1:
            f=flight_list[3]
            g=flight_list[5]
            data.append(flight_list[0])
            find_path(f,b,g,t2,table_df2, data)
            data.pop()

In [75]:
def solve(table1, table2):
    
    for index, row in table_df1.iterrows():
        data=[]
        data.append(row['cust_id'])
        data.append(row['ticket_id'])
        a=row['first_cust_port']
        b=row['last_cust_port']
        t1=row['cust_start']
        t2=row['cust_end']
        r1=table_df2.loc[(table_df2['orig_port'] == a) & (table_df2['flight_start'] == t1)].values[0]
        start_port=r1[3]
        prev_port_end_time=r1[5]
        data.append(r1[0])
        find_path(start_port,b,prev_port_end_time,t2, table_df2, data)